<h1>Zmień drinka</h1>

<% form_for(@coctail, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  
  <div>
    <%= f.label 'Nazwa:' %><br />
    <%= f.text_field :name %><br />
	
	<div>
	    <p><%= f.label 'Składniki:' %></p>
	    <table>
	        <tr>
	        	<td></td>
				<td>Nazwa:</td>
				<td>Ile:</td>
			</tr>
			<tr>
				<td><%= f.label 'Składnik 1:' %></td>
				<td><%= text_field_tag :ing1, @ing[0] %></td>
				<td><%= text_field_tag :info1, @info[0] %></td>
			</tr>
			<tr>
				<td><%= f.label 'Składnik 2:' %></td>
				<td><%= text_field_tag :ing2, @ing[1] %></td>
				<td><%= text_field_tag :info2, @info[1] %></td>
			</tr>
			<tr>
				<td><%= f.label 'Składnik 3:' %></td>
				<td><%= text_field_tag :ing3, @ing[2] %></td>
				<td><%= text_field_tag :info3, @info[2] %></td>
			</tr>
			<tr>
				<td><%= f.label 'Składnik 4:' %></td>
				<td><%= text_field_tag :ing4, @ing[3] %></td>
				<td><%= text_field_tag :info4, @info[3] %></td>
			</tr>
			<tr>
				<td><%= f.label 'Składnik 5:' %></td>
				<td><%= text_field_tag :ing5, @ing[4] %></td>
				<td><%= text_field_tag :info5, @info[4] %></td>
			</tr>
			<tr>
				<td><%= f.label 'Składnik 6:' %></td>
				<td><%= text_field_tag :ing6, @ing[5] %></td>
				<td><%= text_field_tag :info6, @info[5] %></td>
			</tr>
		</table>
	</div>
	<div>
		<%= f.label 'Sposób przygotowania:' %><br />
	    <%= f.text_area :recipe, :size => "50x10" %>
		<p>
		  	<%= f.label 'Zdjęcie' %><br />
		  	<%= f.file_field :photo %>
		</p>
	</div>
  </div>
  <p>
    <%= f.submit 'Zmień' %>
  </p>
<% end %>