<h1>Listing coctails</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @coctails.each do |coctail| %>
  <tr>
    <td><%=h coctail.name %></td>
    <td><%= link_to 'Show', coctail %></td>
    <td><%= link_to 'Edit', edit_coctail_path(coctail) %></td>
    <td><%= link_to 'Destroy', coctail, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New coctail', new_coctail_path %>