<h1><%=h @coctail.name %></h1>
<p>Dodany przez: <%=h @coctail.user.login %></p>

<% if @coctail.photo.exists? %>
<p><%= image_tag @coctail.photo.url(:small) %></p>
<% else %>
<p>Brak zdjęcia</p>
<% end %>


<h3>Składniki:</h3>

<table>
	<% @coctail.ingredients.each do |ingredient| %>
	  <tr>
	    <td><%=h ingredient.name %></td>
	  </tr>
	<% end %>
</table>

<h3>Sposób przygotowania:</h3>
<p><%=h @coctail.recipe %></p>

<% if @coctail.user == current_user %>
	<%= link_to "Zmień", edit_coctail_path(@coctail) %>
	<%= link_to "Usuń", { :action => "destroy", :id => @coctail.id }, :confirm => "Na pewno usunąć drinka?", :method => :delete %>
<% end %>
