<h1>Rejestracja użytkownika</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label 'Hasło' %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label 'Powtórz hasło' %><br />
    <%= f.text_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit 'Zarejestruj' %>
  </p>
<% end %>
